@import "../../styles/colors.scss";

span.At {
  color: $gray100;
  opacity: 0.7;
}

.DescribeRecipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 20px;
    width: 20px;
  }
}
