@import "../../../../styles/colors.scss";
@import "../../../../styles/styles.scss";

.Node {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-items: flex-end;

  .ResourceType {
    font-weight: bolder;
    font-size: 1.2em;
    width: 100px;
  }

  .NodeCounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 200px;

    .Count {
      display: flex;
      flex-direction: column;
      display: flex;
      justify-items: center;
      align-items: center;
      user-select: none;

      label {
        margin: 5px;
      }

      .Buttons {
        button {
          @include primary-button;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
