$sideLen: 75px;

.ResourceNode {
  width: $sideLen;
  height: $sideLen;
  background-color: #101010;
  border-radius: 5px;
  padding: 5px;
  position: relative;

  .label {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.ResourceIcon img {
  max-width: 100%;
  max-height: 100%;
}
